a {
    text-decoration: none;
}

li ol ul {
    list-style: none;
}

.header {
    width: 100%;
}

.labody div div {
    min-width: 1200px;
}

.header ul {
    margin: 0 70px 0 70px;
}

.loginBar {
    width: 500px;
    border: solid 1px;
    height: 300px;
    position: absolute;
    top: 120px;
    left: 80px;
    background-color: #fff5f2;
    border-radius: 20px;
}
.search{
    width: 350px;
    border: solid 1px;
    height: 300px;
    position: absolute;
    top: 150px;
    left: 200px;
    background-color: #fff5f2;
    border-radius: 20px;
}
.registerBar{
    width: 500px;
    border: solid 1px;
    height: 400px;
    position: absolute;
    top: 120px;
    left: 80px;
    background-color: #fff5f2;
    border-radius: 20px;

}

.category {
    width: 1200px;
    height: 800px;
    margin: auto;
    cursor: pointer;
    position: relative;
    /*overflow: hidden;*/
}

.category .top-line {
    margin-top: 10px;
    border-top: solid 1px salmon;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
}

.category ul li {
    width: 280px;
    height: 350px;
    margin: 0px 20px 20px 0px;
    float: left;
}

.box4con {
    background: #fff;
    border: 1px solid #f3f3f3;
    border-top: 0;
    padding: 10px;
    height: 50px;
}

.box4con .s1 {
    float: left;
}

.box4con .s2 {
    float: right;
}

.category img {
    top: 0;
    position: relative;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
}

.category img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.footerBar {
    width: 1200px;
    height: 20px;
    margin: auto;
    /*border: solid 1px;*/
}

.footerBar li {
    float: left;
    margin: 0 50px 0 0;
}

.panel-search{
    background-color: #e6e6e6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 80px;
    width: 350px;
}
.input-inline{
    margin: 20px 0 0 30px;
    width: 200px;
    height: 38px;
}
.search-bar{
    margin: 20px 0 10px 20px;
    font-size: 16px;
}
.search-list a {
    margin: 0 10px 10px 20px;
    font-size: 14px;
    line-height: 16px;
}
